imageio
imageio-ffmpeg
pygame
casadi
stable-baselines3
stable-baselines3[extra]
tensorboard
gymnasium
gymnasium[other]
numpy
torch
matplotlib
Pillow
opencv-python
rsplan
psutil
pyvirtualdisplay
ipywidgets


